body, html {
    margin:0;
    padding:0;

}

.parallax {
    /* The image used */
    background-image: url("../img/Cover1.jpg");

  
    /* Set a specific height */
    min-height: 1000px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .bar {
      height: 1600px;
      background: rgb(2,0,36);
      background: linear-gradient(310deg, rgba(2,0,36,1) 0%, rgba(9,121,32,1) 33%, rgba(159,159,159,1) 100%); 
      font-size: 28px;
      border: 2px solid black;
      
  }

  